@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 0 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --dynamic-vh: 100vh;
  }

  :root.dark {
    --color-primary: 255 255 255;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 23, 23, 23;
  }
}

@supports (height: 100dvh) {
  :root {
    --dynamic-vh: 100dvh;
  }
}

body {
  color: rgb(var(--color-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shape {
  @apply grid h-[150px] w-[150px] place-items-center bg-main text-2xl;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}
