@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 0 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    --dynamic-vh: 100vh;
  }

  :root.dark {
    --color-primary: 255 244 224;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 23, 23, 23;
  }
}

@supports (height: 100dvh) {
  :root {
    --dynamic-vh: 100dvh;
  }
}

body,
nav {
  color: rgb(var(--color-primary));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.box {
  @apply rounded-md border border-gray-300 bg-gray-100 p-4 dark:border-neutral-700 dark:bg-neutral-800/30;
}

.mdx {
  @apply prose max-w-none text-primary/60 transition-all prose-headings:text-primary prose-h1:text-3xl prose-h2:mb-3 prose-h2:mt-10 prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-p:mb-2 prose-p:mt-1 prose-p:leading-7 prose-a:text-main prose-a:no-underline hover:prose-a:text-opacity-80 prose-blockquote:text-primary/60 prose-strong:font-normal prose-strong:text-primary prose-code:rounded-sm prose-code:bg-primary/20 prose-code:px-1 prose-code:font-normal prose-code:text-primary prose-ul:mt-0 prose-li:my-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shape {
  @apply grid h-[150px] w-[150px] place-items-center bg-main text-2xl;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

blockquote {
  quotes: none !important;
}

/* code block */
h3 code {
  @apply !text-lg md:!text-xl;
}

code::after,
code::before {
  content: "" !important;
}

pre {
  @apply rounded-lg !px-0;
}

code {
  @apply text-xs !leading-loose text-white md:text-base;
}

pre > code {
  counter-reset: line;
}

pre[data-theme*=" "],
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  /* background-color: var(--shiki-light-bg); */
  background-color: rgb(237, 237, 237);
}

.dark {
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    /* background-color: var(--shiki-dark-bg); */
    background-color: rgb(37, 37, 37);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

pre [data-line] {
  @apply border-l-2 border-l-transparent px-4;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id="v"] {
  @apply border-b-pink-600 bg-rose-800/50 font-bold !text-pink-300;
}

[data-chars-id="s"] {
  @apply border-b-yellow-600 bg-yellow-800/50 font-bold !text-yellow-300;
}

[data-chars-id="i"] {
  @apply border-b-purple-600 bg-purple-800/50 font-bold !text-purple-200;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg bg-zinc-700 px-3 py-2 text-sm font-semibold text-zinc-200;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
  pre {
  @apply !rounded-t-none;
}

figure {
  @apply !mb-4 !mt-3;
}
pre,
code,
figure {
  @apply overflow-x-auto;
}
